ol,
ul {
  list-style-type: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2e2e2e;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 62vh;
  width: 48vh;
  background-color: #000000;
  color: white;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 2vh;
}
.form-group input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.form-group button {
  width: 100px;
  height: 25px;
}
.color-1 {
  background-color: #24ffd3;
}
.color-2 {
  background-color: #19a017;
}
.color-3 {
  background-color: #e2d326;
}
.color-4 {
  background-color: #9b59b6;
}
.color-5 {
  background-color: #3f3fb6;
}
